/* image classes */
img.logo {
    padding: 40px;
    width: 20%;
}

img.gallery {
    display: block;
    border: 2px solid black;
    width: 95%;
    margin: auto;
}

img.shop_items {
    display: block;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 9%;
}

img.details {
    display: block;
    border: 2px solid black;
    width: 25%;
    margin: auto;
}

/* div classes */
div.menu {
    text-align: center;
    padding-top: 10px;
}

div.items {
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 5px;
    padding-bottom: 10px;
}

div.items:hover p.gallery_description {
    font-weight: 600;
}

div.items:hover {
    background-color: yellow;
}

/* a tag classes */
a {
    color: black;
    text-decoration:none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
    font-weight: 300;
}

a.current_page {
    background-color: yellow;
    font-weight: 600;
    padding: 1px;
}

/* header 1 classes */
h1 {
    color: black;
    font-size:28px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 300;
}

/* horizontal line classes */
hr {
    color: black;
    border: 1px solid black;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

hr.total {
    margin-left: 25%;
    margin-right: 25%;
}

/* paragraph classes */
p {
    color: black;
    margin: 0em;
    font-size: 20px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}


p.gallery_description {
    text-align: left;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    padding-top: 5px;
    margin-left: 7px;
}


p.gallery_price {
    text-align: left;
    margin-left: 7px;
}

p.remove {
    font-size:15px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    padding: 6px;
}

p.shop_items {
    font-size:20px;
    font-weight: 300;
}

p.shop_price {
    font-size:20px;
    font-weight: 400;
}

p.details {
    text-align: left;
    margin-left: 40%;
}

p.details_total {
    display: inline-block;
    font-weight: 400;
    margin-left: 41%;
    margin-right: 3%;
}

/* dropdown menu */
select {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    margin-left: 40%;
    margin-top: 5px;
    width: 18%;
    margin-left: 40%;
}

/* button styling */
button {
    display: inline-block;
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 10%;

}

button.checkout {
    display: block;
    margin: auto;
}

button:hover {
    font-weight: 600;
    background-color: yellow;
}






