.header {
    font-size: small;
}

h1 {
    font-size: larger;
}

.scroll-tracker {
    height: 0.5rem ;
    background-color: darkgoldenrod;
    position: fixed;
    inset: 0 0 auto;
    transform-origin: left;
}

img {
    height: 500px;
}




