@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


.hypothesis {
    background-color: #B99B69;
    border-radius: 25px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;  
    padding-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    padding-bottom: 2%;
    margin-bottom: 5%;

}

#hypothesesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;

}

/* various text styles */
h2 {
    color: white;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    color: #1B2C2E;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin-bottom: 3%;
    font-size: 130%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    width: 100%;
    font-family: "Quicksand";
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
    color: #1B2C2E;
}

select {
    display: block;
    margin-bottom: 10%;
    width: 100%;
    height: 30px;
}

.tagline{
  width:20%;
  padding-left: 1%;
  padding-right: 1%;
  background-color: #1B2C2E;
  font-size: 130%;
  margin: auto;
  margin-bottom: 2%;

}

.hypothesisText {
  margin-top: -1%;
  font-size: 200%;
  text-shadow: 2px 2px #1B2C2E;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#hypothesisSubText {
  font-size: 180%;
}

/* situation section */
#situationWrapper {
    border-radius: 25px;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

#situationBuild {
    width: 90%;
    margin-left: 10%;
    height: 400px;
    position: relative;
}


#stage {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1;
}

#situationBuilders {
  position: absolute;
  width: 66%;
}

#immediateImg {
  width: 66%;
  position: absolute;
}


/* flex boxes*/

#hyp1Body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#fae {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* hypothesis 2 stuff */
.faeImg {
    width: 75%;
}

.faeText {
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.15);
    width: fit-content;
}

#h2Toggle {
    color: #1B2C2E;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 50px;
    justify-content: center;
    padding-bottom: 2%;
}

#h2Toggle h3 {
    margin: 0;
    font-size: 30px;
}

.toggle2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #E88D3E;
    transition: background-color ease 0.3s;
    margin-left: 1%;
    margin-right: 1%;
  }
  
  .toggle2:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0,0,0,0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle2:checked {
    background-color: #EABF5D;
  }
  
  .toggle2:checked:before {
    left: 32px;
  }

  #others {
    text-shadow: 2px 2px 8px #000000;
    color: white;
  }

  #ourselvesImg {
    filter: grayscale(1);
  }

  #othersTxt {
    color: #1B2C2E;
    background-color: #fff;
  }


  option {
    font-family: "Quicksand";
    font-weight: 400;
    font-size: 15px;
    color: #1B2C2E;
  }

  /* hypothesis 3*/
  #afImg {
    width: 25%;
  }

  #afText {
    background-color: rgba(255, 255, 255, 0.75);
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 25px;
  }

  #afSubText {
    width: 50%;
    font-size: 130%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .slider {
    width: 20%;
  }

  .sliderContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  .sliderLabel1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1%;
    display: flex;
    justify-content: flex-end;
  }

  .sliderLabel2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1%;
    display: flex;
    justify-content: flex-start;
  }

  /* hypothesis 4*/
  #flashImg {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
  }

  #textBox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    max-width: 100%;
  }

  .textImgs {
    width: 25%;
  }

  /* hypothesis 5 */
  textarea {
    margin-top: 5%;
    min-width: 75%;
    max-width: 100%;
    min-height: 25%;
  }


  /* ending */
  #ending {
    background-color: #1B2C2E;
    margin-bottom: -2%;
    padding: 2%;
  }


  #ending h2 {
    font-size: 15px;
    width: 66%;
  }


