@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
    font-family: 'Quicksand', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
}

body {
    background-color: #1E2C36;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 35px;
    color: white;
}

#opener2Text {
    color: #1E2C36;
}


#openingText {
    padding-top: 200px;
    position: sticky;
    top: 0;
    padding-bottom: 10%;
}

#title {
    color: #000;
    background-color: #AFF4D0;
    padding-top: 1000px;
}


#stickyRocks {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 800px;
    animation: aura 2s infinite;
}

#polaroidFrame {
    width: 66%;
    position: absolute;
    top: 3030px;
    left: 17%;
}

#peopleFilm {
    position: absolute;
    top: 3110px;
    width: 50%;
    left: 25%;
    animation: filmDevelop 10s 1; 
}

@keyframes filmDevelop{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


img {
    display: flex;
    align-content: flex-end;
    margin-left: auto;
    margin-right: auto;
}

div.opener {
    width: 100%;
    height: 900px;
}

div.opener2 {
    padding-top: 5%;
    margin-top: -60px;
    background-color: white;
    height: 650px;
}

div.opener3 {
    background-color: #1E2C36;
    padding-bottom: 550px;
    z-index: 2;
}

div.opener4 {
    background-color: white;
    padding-top: 200px;
    height: 1100px;
}

#watermark {
    width: 100%;
    position: absolute;
    top: 1585px;
    z-index: -0;
    animation: fadeIn 1s 1;
    box-shadow: 0px -5px 5px #888;
}

#watermarkBottom {
    width: 100%;
    position: absolute;
    top: 2600px;
}


#phenomena {
    position: relative;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 35px;
    background-color: color-change;
    animation: color-change 2s infinite;
}

#hookToTitle {
    padding-top: 200px;
    text-align: left;
    padding-left: 50px;
}

#openerTransition {
    background-color: white;
    margin-top: -10%;
}

#divTransition {
    position: absolute;
    top: 1350px;
    width: 100%;
}



button {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 35px;
    color: white;
    background: #5D7772;
    border-radius: 999px;
    box-shadow: #1e1329 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 35px;
    opacity: 1;
    outline: 0 solid transparent;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    word-break: break-word;
    border: 0;
}


button:hover {
    background-color: #1E2C36;
    box-shadow: white 0 10px 20px -10px;
}

.openEyesGif {
    padding-top: 1%;
    animation: zoomInDown 1s;
}


.scroll-tracker {
    height: 0.5rem;
    background-color: darkgoldenrod;
    position: fixed;
    inset: 0 0 auto;
    transform-origin: left;
}

#spinningRock {
    width: 30%;
}

#hookToTitle {
    color: white;
    font-weight: 200;
    position: relative;
}

#skyline {
    width: 100%;
}

#toggleDesc {
    font-family: "Quicksand";
    color: white;
    position: absolute;
    top: 1950px;
    left: 50px;
}

.aurora {
    animation: shakeX;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
    animation-iteration-count: infinite ease;
}


@keyframes color-change {
    0% {
        background: -webkit-linear-gradient(315deg, #75C5C5, #AFF4D0, #75C5C5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    20% {
        background: -webkit-linear-gradient(315deg, #AFF4D0, #75C5C5, #AFF4D0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    40% {
        background: -webkit-linear-gradient(315deg, #75C5C5, #AFF4D0, #75C5C5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    60% {
        background: -webkit-linear-gradient(315deg, #AFF4D0, #75C5C5, #AFF4D0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background: -webkit-linear-gradient(315deg, #75C5C5, #AFF4D0, #75C5C5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: -webkit-linear-gradient(315deg, #AFF4D0, #75C5C5, #AFF4D0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


@keyframes aura {
    0% {
        background-image: url('../assets/6.png');
    }

    20% {
        background-image: url('../assets/5.png');
    }

    40% {
        background-image: url('../assets/4.png');
    }

    60% {
        background-image: url('../assets/3.png');
    }

    80% {
        background-image: url('../assets/4.png');
    }

    100% {
        background-image: url('../assets/5.png');
    }
}

.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 2000px;
    left: 45px;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
}

.toggle:before {
    content: "on off";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px "Quicksand";
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
    background-color: #75C5C5;
    box-shadow: 0 1px 2px white;
}

.toggle:checked:before {
    left: 32px;
}




@keyframes move {
    0% {
        transform: scale(1);
    }

    38% {
        transform: scale(0.8, 1) rotate(160deg);
    }

    40% {
        transform: scale(0.8, 1) rotate(160deg);
    }

    78% {
        transform: scale(1.1) rotate(-20deg);
    }

    80% {
        transform: scale(1.1) rotate(-20deg);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes moveToSun {
    100% {
        transform: scale(.8) translate(-600px, 700px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.shifting {
    width: 200px;
    height: 200px;
    margin: 20% auto;
    background: #B99B69;
    animation: shifter 3s 1;
}

#shiftShapes {
    margin-top: 130px;
}

@keyframes shifter {
    
    0% {
        width: 200px;
        height: 200px;
    }
    15% {
        width: 300px;
        height: 100px;
    }

    30% {
        width: 200px;
        border-radius: 0%;
        height: 200px;
    }

    45% {
        border-radius: 50%;
    }

    60% {
        border-radius: 0%;
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-135deg);
    }

    90% {
        transform: rotate(0deg);
    }

    100% {
        width: 200px;
        height: 200px;

    }
}

.bothEyes {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.bothEyes .eye {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 0 40px;
    border-radius: 50%;
    box-shadow: 0 5px 45px black;
}

.bothEyes .eye::before{
    content: "";
    position: absolute;
    background: black;
    top: 40%;
    left: 53px;
    width: 90px;
    height: 90px;
    border-radius:50%;
    border: 2px solid #000;
    box-sizing: border-box;
    box-shadow: inset 0 0 20px 0px #1E2C36 ;
    animation: eyeMoves 3s 1;
}

@keyframes eyeMoves {
    0% {
        top: 40%;
        left: 45px;
    }
    20% {
        top: 45%;
        left: 30px;
    }
    40% {
        top: 45%;
        left: 90px;
    }
    60% {
        top: 15%;
        left: 30px;
    }
    80% {
        top: 15%;
        left: 100px;
    }
    100% {
        top: 40%;
        left: 55px;
    }


}