@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&family=Rock+Salt&display=swap');

body {
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    background-image: url("../assets/background.png");
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 175%;
    color: white;
}


/* opening text and designs*/
#opener2Text {
    padding-top: 10%;
    color: #1E2C36;
}


#openingText {
    padding-top: 15%;
    position: sticky;
    top: 0;
    padding-bottom: 10%;
}

#stickyRocks {
    position: absolute;
    top: 5%;
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    animation: aura 2s infinite;
}

/* polaroid/title images and text */
#polaroidFrame {
    width: 66%;
    position: absolute;
    top: 190%;
    left: 17%;
}

#peopleFilm {
    position: absolute;
    visibility: hidden;
    top: 265%;
    width: 50%;
    left: 25%;
    margin-top: 5%;
    animation: filmDevelop 20s 1; 
}


#polaroid {
    position: relative;
}

#title {
    color: #000;
    margin-top: 37%;
    z-index: 1;
    position: relative;
    visibility: hidden;
    font-family: 'Rock Salt', cursive;
    font-size: 130%;
}

/* opening imgs and divs */
img {
    display: flex;
    align-content: flex-end;
    margin-left: auto;
    margin-right: auto;
}

div.opener {
    width: 100%;
    height: 900px;
    background-color: #1E2C36;
    margin-top: -5%;
}

div.opener2 {
    padding-top: 5%;
    margin-top: -60px;
    background-color: white;
    height: 650px;
}

div.opener3 {
    background-color: #1E2C36;
    padding-bottom: 40%;
    z-index: 2;
    height: 138%;
    margin-top: -2%;
}

div.opener4 {
    padding-top: 100px;
    height: 175%;
    margin-bottom: 20%;
}

#watermark {
    width: 100%;
    position: absolute;
    top: 1500px;
    z-index: -0;
    animation: fadeIn 1s 1;
    box-shadow: 0px -5px 5px #888;
}

#phenomena {
    position: relative;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 110%;
    background-color: color-change;
    animation: color-change 2s infinite;
}

#hookToTitle {
    padding-top: 20%;
    text-align: left;
    padding-left: 50px;
    color: white;
    font-weight: 200;
    position: relative;
}


#film {
    margin-top: 3%;
    margin-left: 65%;
    background-color: #B99B69;
    padding-left: 1%;
    padding-right: 1%;
}

button {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 80%;
    color: white;
    background: #5D7772;
    border-radius: 999px;
    box-shadow: #1e1329 0 10px 20px -10px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 35px;
    opacity: 1;
    outline: 0 solid transparent;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    word-break: break-word;
    border: 0;
}


button:hover {
    background-color: #1E2C36;
    box-shadow: white 0 10px 20px -10px;
}

/* for eyes */
.openEyesGif {
    padding-top: 1%;
    animation: zoomInDown 1s;
}


#toggleDesc {
    font-family: "Quicksand";
    color: white;
    position: absolute;
    top: 1900px;
    left: 50px;
}

.aurora {
    animation: shakeX;
    animation-duration: 2s;
    animation-iteration-count: infinite ease;
}

.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 1950px;
    left: 45px;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
}

.toggle:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px "Quicksand";
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;
    text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
    background-color: #75C5C5;
    box-shadow: 0 1px 2px white;
}

.toggle:checked:before {
    left: 32px;
}

.shifting {
    width: 200px;
    height: 200px;
    margin: 20% auto;
    background: #B99B69;
    animation: shifter 3s 1;
}

#shiftShapes {
    margin-top: 130px;
}


.bothEyes {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.bothEyes .eye {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 0 40px;
    border-radius: 50%;
    box-shadow: 0 5px 45px black;
}

.bothEyes .eye::before{
    content: "";
    position: absolute;
    background: black;
    top: 40%;
    left: 53px;
    width: 90px;
    height: 90px;
    border-radius:50%;
    border: 2px solid #000;
    box-sizing: border-box;
    box-shadow: inset 0 0 20px 0px #1E2C36 ;
    animation: eyeMoves 3s 1;
}


@keyframes shifter {
    
    0% {
        width: 200px;
        height: 200px;
    }
    15% {
        width: 300px;
        height: 100px;
    }

    30% {
        width: 200px;
        border-radius: 0%;
        height: 200px;
    }

    45% {
        border-radius: 50%;
    }

    60% {
        border-radius: 0%;
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-135deg);
    }

    90% {
        transform: rotate(0deg);
    }

    100% {
        width: 200px;
        height: 200px;

    }
}

@keyframes eyeMoves {
    0% {
        top: 40%;
        left: 45px;
    }
    20% {
        top: 45%;
        left: 30px;
    }
    40% {
        top: 45%;
        left: 90px;
    }
    60% {
        top: 15%;
        left: 30px;
    }
    80% {
        top: 15%;
        left: 100px;
    }
    100% {
        top: 40%;
        left: 55px;
    }


}


@keyframes color-change {
    0% {
        background: -webkit-linear-gradient(315deg, #75C5C5, #AFF4D0, #75C5C5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    20% {
        background: -webkit-linear-gradient(315deg, #AFF4D0, #75C5C5, #AFF4D0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    40% {
        background: -webkit-linear-gradient(315deg, #75C5C5, #AFF4D0, #75C5C5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    60% {
        background: -webkit-linear-gradient(315deg, #AFF4D0, #75C5C5, #AFF4D0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background: -webkit-linear-gradient(315deg, #75C5C5, #AFF4D0, #75C5C5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: -webkit-linear-gradient(315deg, #AFF4D0, #75C5C5, #AFF4D0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes aura {
    0% {
        background-image: url('../assets/6.png');
    }

    20% {
        background-image: url('../assets/5.png');
    }

    40% {
        background-image: url('../assets/4.png');
    }

    60% {
        background-image: url('../assets/3.png');
    }

    80% {
        background-image: url('../assets/4.png');
    }

    100% {
        background-image: url('../assets/5.png');
    }
}

@keyframes filmDevelop{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}